/* 
This styles.css file is used by the other HTML pages built into the code. If you modify the css below then:
1) copy the whole file (from below this comment).
2) put it through a css minifier (like https://css.github.io/csso/csso.html) and then through a String builder (like http://buildmystring.com/ with "strip out carriage returns" on) to create a single string with no tabs and one line.
3) paste that into the WEBCTRLSTR After "PROGMEM" in the webresources.h file.
*/
:root {
    --cp-sz: 300px;
 /* 300 assumes width as narrow as 320px, 360px is most common*/
    --big-fnt: 25px;
    --mid-fnt: 20px;
    --sml-fnt: 15px;
    --bg-col: #16234b;
    --bg-col-ack:rgb(43, 206, 97);
    --drk-col: #3366cc;
    --gry-col: #dddddd;
    --lght-col: #ffffff;
    --lab-sz: 90px;
    --val-sz: 65px;
    --sld-sz: 125px;
    --rad-sz: 25px;
    --hdr-ht: 100px;
    --smrad-sz: 7px;
    --thm-sz: 25px;
    --sld-ht: 10px;
    --sld-mar: 5px;
    --sldRow-mar: 4px;
    --sldRow-ht: 30px;
    --btnRow-mar: 2px;
    --btnRow-ht: 30px;
    --btn-ht: 28px;
    --cfg-lab: 120;
    --cfg-inp: 180;
}

a {
    color: var(--lght-col);
}

body,.main {
    background-color: var(--bg-col);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*background-color: var(--gry-col);*/
}

.flex-container>div {
    border-radius: var(--rad-sz);
    background-color: var(--lght-col);
    width: calc(var(--cp-sz)+10);
    margin: 5px;
    vertical-align: middle;
    text-align: center;
    line-height: calc(var(--mid-fnt) + 2);
    font-size: var(--mid-fnt);
}

.fishyFtr {
    border-radius: 0 0 var(--rad-sz) var(--rad-sz);
    font-size: var(--mid-fnt);
    font-weight: bold;
    color: var(--lght-col);
    background-color: var(--drk-col);
    height: calc(var(--hdr-ht)/2);
    text-align: center;
}

.fishyHdr,
.hdrIcon {
    border-radius: var(--rad-sz) var(--rad-sz) 0 0;
    font-size: calc(var(--hdr-ht)/3);
    font-weight: bold;
    color: var(--lght-col);
    background-color: var(--drk-col);
    height: var(--hdr-ht);
    vertical-align: middle;
}

.fishyHdr {
    width: 100%;
    text-align: center;
}

.CP, .CPhdErrClear {
    width: var(--cp-sz);
    flex: 0 1 var(--cp-sz);
    background-color: var(--lght-col);
}

.CPdevice,.CPdetails {
    border-radius: 0px;
    width: var(--cp-sz);
    flex: 0 1 var(--cp-sz);
}

.CPdetails {
    background-color: var(--lght-col);
    font-size: var(--sml-fnt);
}

.CPhd,
.CPhd2,
.CPhd3,
.CPhdErr,
.CPft {
    width: var(--cp-sz);
    color: var(--lght-col);
    background-color: var(--drk-col);
}

.CPhd {
    border-radius: var(--rad-sz) var(--rad-sz) 0px 0px;
    font-size: var(--big-fnt);
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
}

.CPft {
    border-radius: 0px 0px var(--rad-sz) var(--rad-sz);
    font-size: var(--mid-fnt);
}

.CPhd3 {
    text-align: center;
    width: 100%;
}

.CPhdErr {
    color: red;
}

.CPhdErrClear {
    color: var(--lght-col);
}

.sld,.sld-dis {
    position: absolute;
    top: var(--sld-mar);
    left: var(--lab-sz);
    -webkit-appearance: none;
    width: var(--sld-sz);
    height: var(--sld-ht);
    background: var(--gry-col);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.sld:hover {
    opacity: 1;
}

.sld::-webkit-slider-thumb,.sld-dis::-webkit-slider-thumb {
    border-radius: var(--smrad-sz);
    -webkit-appearance: none;
    width: var(--thm-sz);
    height: var(--thm-sz);
    background: var(--drk-col);
    cursor: pointer;
}

.sld-dis::-webkit-slider-thumb {
    background: grey;
}

.sld::-moz-range-thumb,.sld-dis::-moz-range-thumb {
    border-radius: var(--smrad-sz);
    width: var(--thm-sz);
    height: var(--thm-sz);
    background: var(--drk-col);
    cursor: pointer;
}

.sld-dis::-moz-range-thumb {
    background: grey;
}

.sldRow {
    position: relative;
    top: var(--sldRow-mar);
    width: var(--cp-sz);
    height: var(--sldRow-ht);
}

.sldLab {
    position: absolute;
    top: 0px;
    left: 0px;
    width: var(--lab-sz);
    font-size: var(--mid-fnt);
}

.sldVal {
    position: absolute;
    top: 0px;
    left: calc(var(--cp-sz) - var(--val-sz) );
    background-color: var(--lght-col);
    border: none;
    font-size: var(--mid-fnt);
    width: 55px;
}

.btnRow {
    position: relative;
    top: var(--btnRow-mar);
    width: var(--cp-sz);
    height: var(--btnRow-ht);
}

.lftBtn,
.rgtBtn,
.midBtn,
.fullBtn,
.cfgBtnY,
.cfgBtn,
.tglBtn {
    background-color: var(--drk-col);
    height: var(--btn-ht);
    border: 1px solid var(--lght-col);
    color: var(--lght-col);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.lftBtn {
    border-radius: var(--smrad-sz) 0px 0px var(--smrad-sz);
    width: calc(var(--cp-sz)/4);
}

.rgtBtn {
    border-radius: 0px var(--smrad-sz) var(--smrad-sz) 0px;
    width: calc(var(--cp-sz)/4);
}

.midBtn {
    width: calc(var(--cp-sz)/2);
}

.fullBtn {
    border-radius: var(--smrad-sz);
    width: var(--cp-sz);
}

.cfgPnl {
    display: none;
}

.cfgInpLab {
    width: var(--cfg-lab);
    font-size: var(--sml-fnt);
}

.cfgInp,
.cfgInpNum {
    width: var(--cfg-inp);
    background-color: var(--lght-col);
    border: none;
    font-size: var(--sml-fnt);
}

.cfgBtn,.cfgBtnY {
    border-radius: var(--smrad-sz);
    width: 48%;
    font-weight: bold;
    background-color: red;
}

.cfgBtnY {
    color: black;
    background-color: yellow;
}

.calTxt {
    font-size: var(--sml-fnt);
    color: var(--drk-col);
}

.tglBtn {
    border-radius: var(--smrad-sz) var(--smrad-sz) var(--rad-sz) var(--rad-sz);
    width: 100%;
}

.sw {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.sw input {
    display: none;
}

.swLab {
    position: relative;
    top: -10px;
}

.swLabHdr {
    position: relative;
    top: -10px;
    font-size: var(--sml-fnt);
}

.sldSw {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.sldSw:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--lght-col);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.sldSw {
    background-color: rgb(71, 71, 71);
}

input:focus+.sldSw {
    box-shadow: 0 0 1px rgb(71,71,71);
}

input:checked+.sldSw:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.swUpdate {
    height: 250px;
    width: var(--cp-sz);
    border: none;
}

.ctrl {
    height: 250px;
    width: var(--cp-sz);
    border: none;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255, 0.7);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 999;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 30px;
    background: transparent;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
}

.modal-body {
    position: relative;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 90%;
    text-align: center;
}

.iframeBody {
    border: none;
    border-radius: 25px;
}

.myIframeDiv {
    border: none;
    border-radius: 25px;
    background: transparent;
}

.background {
    position: relative;
    background-color: var(--lght-col);
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: 4px solid var(--drk-col);
    top: 0px;
    right: 0px;
}

.line1 {
    width: 32px;
    height: 32px;
    border-bottom: 4px solid var(--drk-col);
    -webkit-transform: translateY(-14px)
        translateX(10px)
        rotate(45deg);
    position: relative;
}

.line2 {
    width: 33px;
    height: 33px;
    border-bottom: 4px solid var(--drk-col);
    -webkit-transform: translateY(-51px)
        translateX(-13px)
        rotate(-45deg);
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
    height: 20px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(125,125,125,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    height: 20px;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(125,125,125,0.3);
}