        :root {
            --big-fnt: 25px;
            --mid-fnt: 20px;
            --sml-fnt: 15px;
            --on-col: #16234b;
            --drk-col: #3366cc;
            --lght-col: #ffffff;
            --gry-col: #edf3ff;
            --cp-sz: 300px;
            --lab-sz: 90px;
            --val-sz: 65px;
            --sld-sz: 125px;
            --rad-sz: 25px;
            --hdr-ht: 100px;
            --smrad-sz: 7px;
            --thm-sz: 25px;
            --sld-ht: 10px;
            --sld-mar: 5px;
            --sldRow-mar: 4px;
            --sldRow-ht: 30px;
            --btnRow-mar: 2px;
            --btnRow-ht: 30px;
            --btn-ht: 28px;
            --cfg-lab: 120;
            --cfg-inp: 180;
        }
        a{color: white;}
        body,.main {
            background-color: var(--gry-col);
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        }

        .flex-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            background-color: var(--gry-col);
        }

        .flex-container>div {
            border-radius: var(--rad-sz);
            background-color: var(--lght-col);
            width: calc(var(--cp-sz)+10);
            margin: 5px;
            vertical-align: middle;
            text-align: center;
            line-height: calc(var(--mid-fnt) + 2);
            font-size: var(--mid-fnt);
        }
        .fishyFtr{
            border-radius: 0 0 var(--rad-sz) var(--rad-sz);
            font-size: var(--mid-fnt);
            font-weight: bold;
            color: white;
            background: var(--drk-col);
            height: calc(var(--hdr-ht)/2);
            text-align: center;
        }
        .fishyHdr,
        .hdrIcon {
            border-radius: var(--rad-sz) var(--rad-sz) 0 0;
            font-size: calc(var(--hdr-ht)/3);
            font-weight: bold;
            color: white;
            background: var(--drk-col);
            height: var(--hdr-ht);
            vertical-align: middle;
           }
        .fishyHdr{
            width:100%;
            text-align: center;
        }
        .CP {
            width: var(--cp-sz);
            flex: 0 1 var(--cp-sz);
        }
        .CPdevice {
            border-radius: 0px;
            width: calc(var(--cp-sz)-10);
            flex: 0 1 var(--cp-sz);
            background: white;
        }
        .CPhd,
        .CPhd2,
        .CPhd3,
        .CPhdErr,
        .CPft {
            width: var(--cp-sz);
            color: white;
            background-color: var(--drk-col);
        }
        .CPhd {
            border-radius: var(--rad-sz) var(--rad-sz) 0px 0px;
            font-size: var(--big-fnt);
            -webkit-transition: color 0.4s ease;
            -moz-transition: color 0.4s ease;
            -o-transition: color 0.4s ease;
            transition: color 0.4s ease;
        }
        .CPft {
            border-radius: 0px 0px var(--rad-sz) var(--rad-sz);
            font-size: var(--big-fnt);
        }
        .CPhd3{
            text-align: center;
            width: 100%;
        }
        .CPhdErr{
            color: red;
        }
        .sld,.sld-dis {
            position: absolute;
            top: var(--sld-mar);
            left: var(--lab-sz);
            -webkit-appearance: none;
            width: var(--sld-sz);
            height: var(--sld-ht);
            background: var(--gry-col);
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }
        .sld:hover {
            opacity: 1;
        }
        .sld::-webkit-slider-thumb,.sld-dis::-webkit-slider-thumb {
            border-radius: var(--smrad-sz);
            -webkit-appearance: none;
            width: var(--thm-sz);
            height: var(--thm-sz);
            background: var(--drk-col);
            cursor: pointer;
        }
        .sld-dis::-webkit-slider-thumb {
            background: grey;
        }
        .sld::-moz-range-thumb,.sld-dis::-moz-range-thumb {
            border-radius: var(--smrad-sz);
            width: var(--thm-sz);
            height: var(--thm-sz);
            background: var(--drk-col);
            cursor: pointer;
        }
        .sld-dis::-moz-range-thumb  {
            background: grey;
        }
        .sldRow {
            position: relative;
            top: var(--sldRow-mar);
            width: var(--cp-sz);
            height: var(--sldRow-ht);
        }
        .sldLab {
            position: absolute;
            top: 0px;
            left: 0px;
            width: var(--lab-sz);
            font-size: var(--mid-fnt);
        }
        .sldVal {
            position: absolute;
            top: 0px;
            left: calc(var(--cp-sz) - var(--val-sz) );
            background-color: white;
            border: none;
            font-size: var(--mid-fnt);
            width: 55px;
        }

        .btnRow {
            position: relative;
            top: var(--btnRow-mar);
            width: var(--cp-sz);
            height: var(--btnRow-ht);
        }

        .lftBtn,
        .rgtBtn,
        .midBtn,
        .fullBtn,
        .cfgBtnY,
        .cfgBtn,
        .tglBtn {
            background-color: var(--drk-col);
            height: var(--btn-ht);
            border: 1px solid white;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
        }
        
        .lftBtn {
            border-radius: var(--smrad-sz) 0px 0px var(--smrad-sz);
            width: calc(var(--cp-sz)/4);
        }

        .rgtBtn {
            border-radius: 0px var(--smrad-sz) var(--smrad-sz) 0px;
            width: calc(var(--cp-sz)/4);
        }
        .midBtn{
            width: calc(var(--cp-sz)/2);
        }
        .fullBtn{
            border-radius: var(--smrad-sz);
            width: var(--cp-sz);
        }
        .cfgPnl {
            display: none;
        }

        .cfgInpLab {
            width: var(--cfg-lab);
            font-size: var(--sml-fnt);
        }

        .cfgInp,
        .cfgInpNum {
            width: var(--cfg-inp);
            background-color: white;
            border: none;
            font-size: var(--sml-fnt);
        }

        .cfgBtn,.cfgBtnY {
            border-radius: var(--smrad-sz);
            width: 48%;
            font-weight: bold;
            background-color: red;
        }
        .cfgBtnY{
            color:black;
            background-color: yellow;
        }
        .calTxt {
            font-size: var(--sml-fnt);
            color: var(--drk-col);
        }

        .tglBtn {
            border-radius: var(--smrad-sz) var(--smrad-sz) var(--rad-sz) var(--rad-sz);
            width: 100%;
        }

        .sw {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .sw input {
            display: none;
        }

        .swLab {
            position: relative;
            top: -10px;
        }        
        .swLabHdr {
            position: relative;
            top: -10px;
            font-size: var(--sml-fnt);
        }

        .sldSw {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 34px;
        }

        .sldSw:before {
            position: absolute;
            content: '';
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }

        input:checked+.sldSw {
            background-color: rgb(71, 71, 71);
        }

        input:focus+.sldSw {
            box-shadow: 0 0 1px rgb(71,71,71);
        }

        input:checked+.sldSw:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
        .swUpdate {
            height: 250px;
            width: var(--cp-sz);
            border: none;
        }
        .ctrl {
            height: 250px;
            width: var(--cp-sz);
            border: none;
        }
